<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styless.css">
    <title>Document</title>
</head>
<body>
    <h1 class="title">Andoni Resendiz Jacks</h1>
    <div class="box1">
        <p class="text1">No quiero que suene egocentrico ponerme a mi mismo
            jaja, pero si hace un tiempo me hubieran contado
            que iba a vivir lo que vivo hoy, con la mentalidad que tengo,
            no lo hubiera creido, por eso me admiro a mi mismo hoy
        </p>
        <img class="donipic" src="/images/fotodoni.jpg" alt="">
    </div>

    <div class="box2">
        <img class="fut" src="/images/donifut.jpg" alt="">
        <img class="hike" src="/images/donihike.jpg" alt="">
        <img class="ro" src="/images/doniyro.jpg" alt="">
    </div>
    

</body>
</html>