<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styless.css">
    <title>Document</title>
</head>
<body>
    
    <div class="box3">
        <p class="text2">Me preocupa el futuro y la incertidumbre,
            pero creo que si hago lo correcto, mis planes
            se irán cumpliendo
        </p>
    </div>

</body>
</html>